# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
task.md

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
out
dist_mobile
.env
target
*.node
.env.mobile
.codex-worktrees/

# Editor directories and files
.vscode/*
.vscode
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env.development
.env.production

# Docs
docs/.vitepress/cache
docs/.vitepress/dist

# Android
android/.gradle/
android/**/build/
android/local.properties
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json

# AI
.trae/*
.cursor/*
.claude/*
